<%- include ('partials/head') %> 

<body>
    <h1>The home page</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit quas, quae dolor repellendus dignissimos cumque
        quisquam molestias at consequuntur rerum dicta maxime quia, adipisci nobis nihil. Architecto eligendi sunt
        saepe!</p>
</body>

</html>
